ul.menu li.menu {
	margin-top: 2em;
}

ul.menu h2 {
	font-size: 20px;
	font-weight: 500;
	margin: 1em;
	display: inline;
	line-height: 1.5em;
}

ul.menu h1 {
	font-size: 40px;
	font-weight: 500;
	margin: 1em;
	display: inline;
	line-height: 1.5em;
}

body {
    background-color: #eeeeee;
}

a {
    color: #BF4D28;
}

a:hover {
    color: red;
}

tbody tr:nth-child(odd) {
    background-color: #ddd;
}
