@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 300;
	src: local('Fira Sans Light'), url("../fonts/FiraSans-Light.woff") format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Sans'), url("../fonts/FiraSans-Regular.woff") format('woff');
}
@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 500;
	src: local('Fira Sans Medium'), url("../fonts/FiraSans-Medium.woff") format('woff');
}
@font-face {
    font-family: 'fontello';
    src: url('data:application/octet-stream;base64,d09GRgABAAAAAApAAA4AAAAAESwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWPZlJd2NtYXAAAAGIAAAAOAAAAUrQERm3Y3Z0IAAAAcAAAAAUAAAAHAbYACRmcGdtAAAB1AAABPkAAAmRigp4O2dhc3AAAAbQAAAACAAAAAgAAAAQZ2x5ZgAABtgAAADuAAAA/Hj3u0FoZWFkAAAHyAAAADUAAAA2Ad6oCGhoZWEAAAgAAAAAHQAAACQHlgNVaG10eAAACCAAAAAIAAAACAfQAABsb2NhAAAIKAAAAAYAAAAGAH4AAG1heHAAAAgwAAAAIAAAACAA0AnubmFtZQAACFAAAAF3AAACzcydGhxwb3N0AAAJyAAAAB8AAAAxz/bnmXByZXAAAAnoAAAAVgAAAFaSoZr/eJxjYGR+wTiBgZWBg6mKaQ8DA0MPhGZ8wGDIyMTAwMTAysyAFQSkuaYwOLxgeMHAHPQ/iyGKOYiBHSjMCJIDAAfOC454nGNgYGBmgGAZBkYGEHAB8hjBfBYGDSDNBqQZGZgYGF4w/P8PUgChJRih6oGAkY1hxAMAY8cGrnicY2BAA0YMRsxB/3+CMAAVKgT/eJydVdl201YUlTxkcBI6ZKCgDtfcOFDryoQpGDBpKsV2IR0cCK0EHaQMdOSdxz7ra45Cu1Yf+bTufT0ktHSttiyWz75HW2fYOudGHCMqfRqIa9ShkpcDqaw9lkr3SVzXdS+PlQwGcV22Ek9Jm6idJEpq3exQLvFY6ypZJ1gn4+UgVk9VnmegDOIUHmVJRBtEG6mXJkniieMniRZnEB8lSSAloxCn0shQQjUaxFLVoUzp0KvXE3HTQMpGox51WFT3Q8UnxzWn1KwDRipXOcIV69VGvhunAy97kMQ6wbOthzEeeKx+lCqQipHpyD92Sk6UhoFUcdShVuLoMJNf95FMKs1ApoxiRaXugbjd/XTbFjE9dDq+LkqVRqq6uc4omu3R8aiDKA/Zxumk3NDZ9vDlGVNUq11xs+1AZg1cSslsdJ9EAB0mUuPpAU41nAKpGfVHxdnnzwESyVyUqjxVMod6A5kzO3txMe1uJ6uycKSfBzJvdnbjnYdDp1eHf9H6F0zhzEeP4mJ+PkL6UGp+Ik4kpUZYzPKnhh9xVyBCuTGICxfK4FOEOXRF2tlmXeO1MfaGz/lKqWE9Cdroo/h+Cv1OJCscZ1Gj9UiczWPXda3cZ1BLtbsXOzKvQ5Ui7u8LC64z54RhnhYLVV+e+d4FNP8GiGf8QN40hUv7lilKtG+boky7aIoK7RJUpV02xRTtiimmac+aYob2HVPM0p4zMuP/y9znkfsc3vGQm/Zd5KZ9D7lp30du2g+Qm1YhN20duWkvIDetRm7aVaM6dgQaBmkXUhVB0DSy+mHcVpv1QNaMNHxpYPIuYsj66kRHnbW1yh/Ff3XiCwdyaaKnuyIXm+Iur9sWPjzd7quPmkbdsNX4xpHyMB5Gehya0Fn5zeG/7U3dLpruMqoy6AEVTArAAGXtQALTOtsJpPWap/jyB2BchnjOSkO1VJ87hqbv5Xlf97E58b7H7cYut1x3eQlZ1g1yY/bw31Jkqusf5S2tVCdHrCsnj1VrGEMqvCi6vpKUe7S1G78oqbLyXpTWyueTkJs9gxtCW7buYbAjTGnKJR5eU6UoPdRSjrJDLG8pyjzglIsLWobEuA51D2prxOmhehgbCyGGobS9EHBIKV0V37TKd/Eeq2vY6PjFFeHpenISEZ/iKvtR8FTXRv3oDtq8Zt0ygylVqqf7jE+xr9v2UVlppI6zF7dUB9c06xo5FdNP5GvgdG84aN0DPVR8NEEjVTXH6MYoYzSWNeXfBHQxVn7DaNVi+z3cT52kVay5S5jsmxP34LS7/Sr7tZxbRtb91wa9beSKnyMxvy0K/DsHYrdkDdQ7k4EYC8hZ0BjGFiZ3GK6DbcRt9j8mp//fhoVFclc7Grt56sPVk1Eld9nyuMtNdlnXozZH1U4a+wiNLQ835tjhciy2xGBBtv7B/zHuAXdpUQLg0MhlmIjadKGe6uHqHquxbThXEgF2zbHjdAB6AC5B3xy71vMJgPXcI+cuwH1yCHbIIfiUHILPyLkF8Dk5BF+QQzAgh2CXnDsAD8gheEgOwR45BI/I2QT4khyCr8ghiMkhSMi5DfCYHIIn5BB8TQ7BN0auTmT+lgfZAPrOoptAqZ0aHNo4ZEauTdj7PFj2gUVkH1pE6pGR6xPqUx4s9XuLSP3BIlJ/NHJjQv2JB0v92SJSf7GI1GfGl5kjKa8OnvOODv4El+qtXgAAAAABAAH//wAPeJwdjbFKw1AUhs85N/ck3oBt9HoFaYfUJhUEW9LbG7BopHF0EjchQwvi4O4zuPdJ+iSdHFxdfAWXqyH/9sH38QMB/P2KH/EIE6jg9m55gcjlFQVEKwhIUiBfQQqS4gUQKEB6BmZVgxDwBAAx3F+fLdrNQ3OJJ5rP01G+SKwr08IMsWMOE21O08LdoHVLLMxxojmftkejKea2xElu3bz1xVFT+1ndNDV+hEqF/j2z6Ma4z6yKxpH6NIN47beyLytmfNso3cdhT+PDrmv2qwY7z2Z+1pW7SCn88t89Qwcbv2Wu+LAN1/HAGPgHy/UqTwAAeJxjYGRgYADiQPvm5fH8Nl8ZuJlfAEUYzmef44HQU88wMPz/yfyCOQjI5WBgAokCAE8zDEMAAAB4nGNgZGBgDvqfxRDF/IIBCIAkIwMqYAIAZnQD8wAAAAPoAAAD6AAAAAAAAAB+AAAAAQAAAAIAQAACAAAAAAACAA4AGwBuAAAATwmRAAAAAHicdZDLasJAFIb/8dKLQlta6LazKkppvGA3giBYdNNupLgtMcYkEjMyGQVfo+/Qh+lL9Fn6m4ylKE2YzHe+OXPmZABc4xsC+fPEkbPAGaOcCzhFz3KR/tlyifxiuYwq3iyf0L9bruABgeUqbvDBCqJ0zmiBT8sCV+LScgEX4s5ykf7Rconcs1zGrXi1fELvWa5gIlLLVdyLr4FabXUUhEbWBnXZbrY6crqViipK3Fi6axMqncq+nKvE+HGsHE8t9zz2g3Xs6n24nye+TiOVyJbT3KuRn/jaNf5sVz3dBG1j5nKu1VIObYZcabXwPeOExqy6jcbf8zCAwgpbaES8qhAGEjXaOuc2mmihQ5oyQzIzz4qQwEVM42LNHWG2kjLuc8wZJbQ+M2KyA4/f5ZEfkwLuj1lFH60exhPS7owo85J9OezuMGtESrJMN7Oz395TbHham9Zw165LnXUlMTyoIXkfu7UFjUfvZLdiaLto8P3n/34A3V+ESwB4nGNgYoAALgbsACjPyMSRk5mXrZtaUcLAAAAXRwNGAEu4AMhSWLEBAY5ZuQgACABjILABI0SwAyNwsgQoCUVSRLIKAgcqsQYBRLEkAYhRWLBAiFixBgNEsSYBiFFYuAQAiFixBgFEWVlZWbgB/4WwBI2xBQBEAAA=') format('woff'),
    url('data:application/octet-stream;base64,AAEAAAAOAIAAAwBgT1MvMj2ZSXcAAADsAAAAVmNtYXDQERm3AAABRAAAAUpjdnQgBtgAJAAAByQAAAAcZnBnbYoKeDsAAAdAAAAJkWdhc3AAAAAQAAAHHAAAAAhnbHlmePe7QQAAApAAAAD8aGVhZAHeqAgAAAOMAAAANmhoZWEHlgNVAAADxAAAACRobXR4B9AAAAAAA+gAAAAIbG9jYQB+AAAAAAPwAAAABm1heHAA0AnuAAAD+AAAACBuYW1lzJ0aHAAABBgAAALNcG9zdM/255kAAAboAAAAMXByZXCSoZr/AAAQ1AAAAFYAAQPoAZAABQAIAnoCvAAAAIwCegK8AAAB4AAxAQIAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA6ADoAANS/2oAWgNSAAcAAAABAAAAAAAAAAAAAwAAAAMAAAAcAAEAAAAAAEQAAwABAAAAHAAEACgAAAAGAAQAAQACAADoAP//AAAAAOgA//8AABgBAAEAAAAAAAAAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAA//kD6ANSACcAPwA+QDsoAQEGNy4CBAICQgAEAgUCBAVoAAUDAgUDZgABAAIEAQJbAAYGCkMAAwMAVAAAAAsARDoaNTU1NTMHFisBFRQGIyEiJjURNDY3ITIWHQEUBiMhIgYHERQWFyEyNj0BNDY7ATIWExEUBiYvAQEGIi8BJjQ3AScmNDYzITIWAxJeQ/4wQ15eQwGJBwoKB/53JTQBNiQB0CU0CggkCArWFhwLYv6UBRAFPwYGAWxjChQQAR0PFAFMskNeXkMB0EJeAQoIJAgKNCX+MCU0ATYksggKCgHa/uMPFgIJY/6UBgY/Bg4GAWxiCxwWFgAAAQAAAAEAAFE/g6dfDzz1AAsD6AAAAADPa84MAAAAAM9rlcwAAP/5A+gDUgAAAAgAAgAAAAAAAAABAAADUv9qAFoD6AAAAAAD6AABAAAAAAAAAAAAAAAAAAAAAgPoAAAD6AAAAAAAAAB+AAAAAQAAAAIAQAACAAAAAAACAA4AGwBuAAAATwmRAAAAAAAAABIA3gABAAAAAAAAADUAAAABAAAAAAABAAgANQABAAAAAAACAAcAPQABAAAAAAADAAgARAABAAAAAAAEAAgATAABAAAAAAAFAAsAVAABAAAAAAAGAAgAXwABAAAAAAAKACsAZwABAAAAAAALABMAkgADAAEECQAAAGoApQADAAEECQABABABDwADAAEECQACAA4BHwADAAEECQADABABLQADAAEECQAEABABPQADAAEECQAFABYBTQADAAEECQAGABABYwADAAEECQAKAFYBcwADAAEECQALACYByUNvcHlyaWdodCAoQykgMjAxNCBieSBvcmlnaW5hbCBhdXRob3JzIEAgZm9udGVsbG8uY29tZm9udGVsbG9SZWd1bGFyZm9udGVsbG9mb250ZWxsb1ZlcnNpb24gMS4wZm9udGVsbG9HZW5lcmF0ZWQgYnkgc3ZnMnR0ZiBmcm9tIEZvbnRlbGxvIHByb2plY3QuaHR0cDovL2ZvbnRlbGxvLmNvbQBDAG8AcAB5AHIAaQBnAGgAdAAgACgAQwApACAAMgAwADEANAAgAGIAeQAgAG8AcgBpAGcAaQBuAGEAbAAgAGEAdQB0AGgAbwByAHMAIABAACAAZgBvAG4AdABlAGwAbABvAC4AYwBvAG0AZgBvAG4AdABlAGwAbABvAFIAZQBnAHUAbABhAHIAZgBvAG4AdABlAGwAbABvAGYAbwBuAHQAZQBsAGwAbwBWAGUAcgBzAGkAbwBuACAAMQAuADAAZgBvAG4AdABlAGwAbABvAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAECCGxpbmstZXh0AAAAAAAAAQAB//8ADwAAAAAAAAAAAAAAAAAAAAAAMgAyA1L/+QNS//mwACywIGBmLbABLCBkILDAULAEJlqwBEVbWCEjIRuKWCCwUFBYIbBAWRsgsDhQWCGwOFlZILAKRWFksChQWCGwCkUgsDBQWCGwMFkbILDAUFggZiCKimEgsApQWGAbILAgUFghsApgGyCwNlBYIbA2YBtgWVlZG7AAK1lZI7AAUFhlWVktsAIsIEUgsAQlYWQgsAVDUFiwBSNCsAYjQhshIVmwAWAtsAMsIyEjISBksQViQiCwBiNCsgoAAiohILAGQyCKIIqwACuxMAUlilFYYFAbYVJZWCNZISCwQFNYsAArGyGwQFkjsABQWGVZLbAELLAHQyuyAAIAQ2BCLbAFLLAHI0IjILAAI0JhsIBisAFgsAQqLbAGLCAgRSCwAkVjsAFFYmBEsAFgLbAHLCAgRSCwACsjsQIEJWAgRYojYSBkILAgUFghsAAbsDBQWLAgG7BAWVkjsABQWGVZsAMlI2FERLABYC2wCCyxBQVFsAFhRC2wCSywAWAgILAJQ0qwAFBYILAJI0JZsApDSrAAUlggsAojQlktsAosILgEAGIguAQAY4ojYbALQ2AgimAgsAsjQiMtsAssS1RYsQcBRFkksA1lI3gtsAwsS1FYS1NYsQcBRFkbIVkksBNlI3gtsA0ssQAMQ1VYsQwMQ7ABYUKwCitZsABDsAIlQrEJAiVCsQoCJUKwARYjILADJVBYsQEAQ2CwBCVCioogiiNhsAkqISOwAWEgiiNhsAkqIRuxAQBDYLACJUKwAiVhsAkqIVmwCUNHsApDR2CwgGIgsAJFY7ABRWJgsQAAEyNEsAFDsAA+sgEBAUNgQi2wDiyxAAVFVFgAsAwjQiBgsAFhtQ0NAQALAEJCimCxDQUrsG0rGyJZLbAPLLEADistsBAssQEOKy2wESyxAg4rLbASLLEDDistsBMssQQOKy2wFCyxBQ4rLbAVLLEGDistsBYssQcOKy2wFyyxCA4rLbAYLLEJDistsBkssAgrsQAFRVRYALAMI0IgYLABYbUNDQEACwBCQopgsQ0FK7BtKxsiWS2wGiyxABkrLbAbLLEBGSstsBwssQIZKy2wHSyxAxkrLbAeLLEEGSstsB8ssQUZKy2wICyxBhkrLbAhLLEHGSstsCIssQgZKy2wIyyxCRkrLbAkLCA8sAFgLbAlLCBgsA1gIEMjsAFgQ7ACJWGwAWCwJCohLbAmLLAlK7AlKi2wJywgIEcgILACRWOwAUViYCNhOCMgilVYIEcgILACRWOwAUViYCNhOBshWS2wKCyxAAVFVFgAsAEWsCcqsAEVMBsiWS2wKSywCCuxAAVFVFgAsAEWsCcqsAEVMBsiWS2wKiwgNbABYC2wKywAsANFY7ABRWKwACuwAkVjsAFFYrAAK7AAFrQAAAAAAEQ+IzixKgEVKi2wLCwgPCBHILACRWOwAUViYLAAQ2E4LbAtLC4XPC2wLiwgPCBHILACRWOwAUViYLAAQ2GwAUNjOC2wLyyxAgAWJSAuIEewACNCsAIlSYqKRyNHI2EgWGIbIVmwASNCsi4BARUUKi2wMCywABawBCWwBCVHI0cjYbAGRStlii4jICA8ijgtsDEssAAWsAQlsAQlIC5HI0cjYSCwBCNCsAZFKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgsAhDIIojRyNHI2EjRmCwBEOwgGJgILAAKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwgGJhIyAgsAQmI0ZhOBsjsAhDRrACJbAIQ0cjRyNhYCCwBEOwgGJgIyCwACsjsARDYLAAK7AFJWGwBSWwgGKwBCZhILAEJWBkI7ADJWBkUFghGyMhWSMgILAEJiNGYThZLbAyLLAAFiAgILAFJiAuRyNHI2EjPDgtsDMssAAWILAII0IgICBGI0ewACsjYTgtsDQssAAWsAMlsAIlRyNHI2GwAFRYLiA8IyEbsAIlsAIlRyNHI2EgsAUlsAQlRyNHI2GwBiWwBSVJsAIlYbABRWMjIFhiGyFZY7ABRWJgIy4jICA8ijgjIVktsDUssAAWILAIQyAuRyNHI2EgYLAgYGawgGIjICA8ijgtsDYsIyAuRrACJUZSWCA8WS6xJgEUKy2wNywjIC5GsAIlRlBYIDxZLrEmARQrLbA4LCMgLkawAiVGUlggPFkjIC5GsAIlRlBYIDxZLrEmARQrLbA5LLAwKyMgLkawAiVGUlggPFkusSYBFCstsDossDEriiAgPLAEI0KKOCMgLkawAiVGUlggPFkusSYBFCuwBEMusCYrLbA7LLAAFrAEJbAEJiAuRyNHI2GwBkUrIyA8IC4jOLEmARQrLbA8LLEIBCVCsAAWsAQlsAQlIC5HI0cjYSCwBCNCsAZFKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgR7AEQ7CAYmAgsAArIIqKYSCwAkNgZCOwA0NhZFBYsAJDYRuwA0NgWbADJbCAYmGwAiVGYTgjIDwjOBshICBGI0ewACsjYTghWbEmARQrLbA9LLAwKy6xJgEUKy2wPiywMSshIyAgPLAEI0IjOLEmARQrsARDLrAmKy2wPyywABUgR7AAI0KyAAEBFRQTLrAsKi2wQCywABUgR7AAI0KyAAEBFRQTLrAsKi2wQSyxAAEUE7AtKi2wQiywLyotsEMssAAWRSMgLiBGiiNhOLEmARQrLbBELLAII0KwQystsEUssgAAPCstsEYssgABPCstsEcssgEAPCstsEgssgEBPCstsEkssgAAPSstsEossgABPSstsEsssgEAPSstsEwssgEBPSstsE0ssgAAOSstsE4ssgABOSstsE8ssgEAOSstsFAssgEBOSstsFEssgAAOystsFIssgABOystsFMssgEAOystsFQssgEBOystsFUssgAAPistsFYssgABPistsFcssgEAPistsFgssgEBPistsFkssgAAOistsFossgABOistsFsssgEAOistsFwssgEBOistsF0ssDIrLrEmARQrLbBeLLAyK7A2Ky2wXyywMiuwNystsGAssAAWsDIrsDgrLbBhLLAzKy6xJgEUKy2wYiywMyuwNistsGMssDMrsDcrLbBkLLAzK7A4Ky2wZSywNCsusSYBFCstsGYssDQrsDYrLbBnLLA0K7A3Ky2waCywNCuwOCstsGkssDUrLrEmARQrLbBqLLA1K7A2Ky2wayywNSuwNystsGwssDUrsDgrLbBtLCuwCGWwAyRQeLABFTAtAAAAS7gAyFJYsQEBjlm5CAAIAGMgsAEjRLADI3CyBCgJRVJEsgoCByqxBgFEsSQBiFFYsECIWLEGA0SxJgGIUVi4BACIWLEGAURZWVlZuAH/hbAEjbEFAEQAAA==') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'Fira Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-top: 20px;
	margin-bottom: 10px;
	max-width: 820px;
}
p {
	margin-top: 1.2em;
	margin-bottom: 1.2em;
}
.pitch b {
	font-weight: 400;
}
li {
	margin-bottom: .5em;
}
h1 {
	font-size: 2em;
	margin-top: 1.2em;
	margin-bottom: 0.5em;
}

ul {
	padding-left: 30px;
}
ul.menu {
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
}
ul.menu li {
	list-style-type: none;
	margin-top: 0em;
	margin-bottom: 0em;
}
ul.menu li.menu {
	margin-top: 3em;
}
ul.menu h2 {
	font-size: 20px;
	font-weight: 500;
	margin: 1em;
	display: inline;
	line-height: 1.5em;
}
ul.menu li>ul {
	margin-top: .5em;
	padding-left: 0em;
	line-height: 1.5em;
}

.menu img {
	margin: 0 auto 20px auto;
}
@media (min-width: 992px) {
	ul.menu {
		text-align: left;
	}
	.menu img {
		margin: 0;
	}
}

h2 {
	font-weight: 500;
	font-size: 18.5px; /* gridfit */
}
h3 {
	font-weight: 500;
}

.side-header h2 {
	font-weight: 500;
	font-size: 18.5px;
	line-height: 24px;
	margin-top: 7px;
}

.side-header h3 {
	font-size: 1em;
	margin-top: 0px;
}

.side-header p {
	color:  #777;
}

.table-features {
	width: 100%;
	margin-bottom: 18px;
	border: 1px solid #ccc;
	border-radius: 3px;
	border-collapse: inherit;
}
.table-features td {
	padding: 6px 12px;
	border: none;
}

div.install {
	margin-top: 2.5em;
	margin-bottom: 1.5em;
}

.table-installers {
	border-spacing: 4px;
	border: 0px;
	empty-cells: hide;
}

.table-installers td {
	padding: 0px;
}

.table-installers td.inst-type {
	border: 0px;
	color: black;
	text-align: left;
	width: 13em;
}

.table-installers div.inst-button {
	border: 1px solid #ccc;
	text-align: center;
	border-radius: 3px;
	padding: 0.3em;
}

.table-installers div.inst-button:hover {
	border-color: #428BCA;
	color: white;
	background-color: #428BCA;
}

.table-installers a {
	text-decoration: none;
}

.install-row {
	margin-bottom: 0em;
}

p.pitch {
	font-size: 25px;
	font-weight: 300;
	text-align: center;
}
@media (min-width: 992px) {
	p.pitch {
		font-size: 25px;
		margin-top: 1.5em;
		margin-bottom: 1em;
		margin-right: 1em;
		text-align: left;
	}
}

p.pitch a {
	font-size: 80%;
}

.install-box {
	color: #777;
	text-align: right;
	font-size: 130%;
	margin-top: 0.8em;
}

.version-rec-box-inner {
	display: block;
	font-size: 12px;
	text-align: center;
}

hr {
	margin-top: 2em;
	margin-bottom: 3em;
	border-top: 2px solid #dedede;
}

.asterisk {
	margin-left: 0px;
	color: #428BCA;
}

.footnote {
	color: #777;
	text-align: right;
	font-size: 12px;
	padding: 0 15px;
}

.laundry-list {
	font-size: 16px;
	list-style-type: square;
}

.install-box a.btn {
	display: block;
	margin:1em auto;
	max-width: 250px;
}

ul.laundry-list {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
	margin-bottom: 20px;
}

.resp-block {
	display: none;
}

@media (min-width: 992px) {
	.install-box a.btn {
		font-size: 18px;
		padding: 10px 15px;
	}
	ul.laundry-list {
	  column-count: auto;
	  -moz-column-count: auto;
	  -webkit-column-count: auto;
	}
	img.ribbon {
		display: inline !important;
		position: absolute;
		top: 0;
		right: 0;
		border: 0;
    width: 149px;
    height: 149px;
	}
	ul.menu .col-xs-12 {
		padding-left: 0;
	}
	.resp-block {
		display: block;
	}
}

#editor {
  padding: none;
  margin: none;
  width: 100%;
  min-height: 340px;
  font-size: 13px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  white-space: pre-wrap;
}

#active-code {
  position: relative;
  display: none;
  padding: 10px;
  border-radius: 4px;
  background-color: #FDFDFD;
  border: 1px solid #CCC;
}

#run-code {
  position: absolute;
  z-index: 10;
  float: right;
  right: 8px;
  top: 8px;
  outline: none;
}

 [class^="icon-"]:before, [class*=" icon-"]:before {
  cursor: pointer;
  cursor: hand;               /* cursor: hand ensures IE 5.5 */
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  position: relative;
  float: right;
  font-size: 120%;

}

.icon-link-ext:before { content: '\e800'; } /* 'î €' */

#result {
  background-color: #E2EEF6;
  margin-top: 10px;
  padding: 10px;
  display: none;
  border-radius: 4px;
}

.ace-error-text, .ace-error-line, .ace-warning-text, .ace-warning-line {
  position: absolute;
}

.ace-error-text {
  background-color: #e9abab;
}

.ace-error-line {
  background-color: #F6E2E2;
}

.ace-warning-text {
  background-color: #FFEF00;
}

.ace-warning-line {
  background-color: #FFFBCB;
}

.ace-chrome .ace_comment {
	color: #565656;
}

.ace-chrome .ace-keyword {
	color: #8959A8;
}

.ace-chrome .ace_entity.ace_name.ace_function {
	color: #4271AE;
}

.ace-chrome .ace_constant.ace_numeric {
	color: #718C00;
}

.ace-chrome .ace_keyword.ace_operator {
	color: black;
}

.ace-chrome .ace_string {
	color: #3E999F;
}

#active-code, #editor {
	background-color: #FAFAFA;
}

.more-examples {
	text-align: right;
	margin: 5px 10px 0 0;
}

.content {
    border-top: 2px solid #dedede;
    margin-top: 2em;
    margin-bottom: 8em;
    padding-top: 2em;
}

.content p,
.content ul,
.content ol,
.content blockquote,
.content pre {
    margin: 1rem 0 1rem;
}

.content h1 {
    font-size: 2.5em;
    line-height: 1.5em;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 400;
    position: relative;
}

.content h2 {
    font-size: 2em;
    line-height: 1.5em;
    margin: 3rem 0 1rem;
    font-weight: 400;
    border-top: 2px solid #dedede;
    padding-top: 1rem;
}

.content h3 {
    font-size: 1em;
    line-height: 1.5em;
    font-weight: 500;
    margin: 2rem 0 .5rem;
}

@media screen and (min-width: 820px) {
    .faq {
        /*padding-right: 6em;*/
    }

    .faq p,
    .faq ul,
    .faq ol,
    .faq blockquote,
    .faq pre,
    .faq table {
        margin-left: 8rem;
    }
}

.faq .faq-intro {
    margin-left: 0rem;
}

.faq blockquote {
    border-left: .25em solid #dedede;
    padding-left: 2rem;
}

.faq blockquote p {
    margin: 0;
}

.faq pre {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.faq code {
    display: inline-block;
    padding: .1em .2em 0;
    font-size: 0.95em;
    line-height: 1em;
    background-color: #f7f7f7;
    border-radius: 2px;
    font-weight: 400;
    font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.faq pre code {
    font-size: 1em;
    line-height: 1.5em;
}

.faq h3 > a {
    color: black;
}

.faq ol ul {
    padding-left: 0px;
    margin-top: 0.5em;
    margin-left: 1em;
}

#toc h2 {
    border: 0;
    font-size: 2rem;
    line-height: 1.5em;
}

#toc .contents {
    -webkit-columns: 3 150px;
    -moz-columns: 3 150px;
    columns: 3 150px;
    -webkit-perspective: 1;
}

#toc ol {
    margin: 0 0 0 2rem;
    padding: 0;
}

.installer-table > div > span, .source-table > div > span {
  padding-right: 1em;
}

@media (min-width: 750px) {
  .rustup-init-table, .installer-table {
    columns: 2;
    margin: 0 3rem;
  }

  .source-table {
    display: flex;
    margin: 2rem;
    justify-content: space-around;
  }
}

@media (max-width: 749px) {
  .rustup-init-table, .installer-table, .source-table {
    margin: 0 2rem;
  }
}

.rustup-init-table > a {
  display: block;
}

.releases {
    margin: 3em 0;
    display: flex;
}

.releases .release {
    flex: 1;
    text-align: center;
}

.releases .release .release-kind {
    font-size: 1.2em;
}

.releases .release .release-number {
    font-size: 3em;
    font-weight: 700;
}

.releases .release .release-date {
    font-size: 1.5em;
}
