<!DOCTYPE html>
<!-- Page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Rust, Rust programming language, rustlang, rust-lang, Mozilla Rust">
    <meta name="description" content="A systems programming language that runs blazingly fast, prevents segfaults, and guarantees thread safety.">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/forge.css">
    <link rel="stylesheet" href="/rust-forge/css/bootstrap.css">
    <link rel="stylesheet" href="/rust-forge/css/style.css">
    <link rel="stylesheet" href="/rust-forge/css/forge.css">
  </head>

  <body class="container">

    <header>

    <ul class="row menu">
      <li class="col-xs-12 col-md-2">
        <a href="index.html">
	  <!-- FIXME: absolute urls -->
          <img class="img-responsive" src="https://www.rust-lang.org/logos/rust-logo-blk.svg" onerror="this.src='https://www.rust-lang.org/logos/rust-logo-256x256-blk.png'" height="128" width="128" alt="Rust logo" />
        </a>
      </li>
      <li class="col-xs-12 col-md-6 menu">
	<h1>Rust Forge</h1>
      </li>
    </ul>
    </header>

    <div class="content">{{ content }}</div>

  </body>
</html>
