<!DOCTYPE html>
<!-- page last generated {{ site.time }} -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    <meta http-equiv="refresh" content="0;URL='{{ page.destination }}'">
    <meta rel="canonical" href="{{ page.destination }}">
    <script type="text/javascript">
      location.href = "{{ page.destination }}";
    </script>
  </head>
  <body>
      <p>If you're not redirected <a href="{{ page.destination }}">click here</a>.</p>
      {{ content }}
  </body>
</html>
